* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link, .navbar-brand, .navbar-brand:focus {
  color: white;
}
.navbar-nav .nav-link.active {
  color: pink;
}
.nav-link:hover, .navbar-brand:hover {
  color: orangered;
}
.home-title{
  font-size: 24px;
}
.home-header{
  display: flex;
  justify-content: space-between;
  padding: 15px 70px;
  .btn{
    margin-left: 15px;
    border-radius: 5px;
    border: 0;
  }
}
.btn_footer{
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 0;
  margin-bottom: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px;
}
.app-card {
  width: 25%;
  background-color: rgb(205, 201, 201);
  border-radius: 0;
  margin: 15px 20px;
  text-align: justify;
  .card-body{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-title {
 display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 padding: 5px;
  }
  .card-text{
    display: block;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   
  }
}

.buttons {
  text-align: center;
  .btn {
    border: 1px solid gray;
    border-radius: 0;
    line-height: 1;
    padding: 5px;
    &:hover{
      border: 0;
    }
  }
}
.none{
  display: none;
}
